In [1]:
#yearsToRead = [2018,2019,2020,2021,2022]
yearsToRead = [2018]
readPath = '/export/ml4ds/teddata/forms/'
readPath =  '/export/ml4ds/teddata/tedplace/'



#leemos el primer año y así ya tenemos la estructura inicial para poder concatenarlos:
first = yearsToRead.pop()
print (first)
tedDF = spark.read.parquet (readPath + str(first))

for year in yearsToRead:
    print (year)
    tedDF = tedDF.unionAll (spark.read.parquet (readPath + str(year)))

    #tedDF = spark.read.parquet (readPath + str(year))

2018

In [2]:
tedDF.createOrReplaceTempView("TedFormTable")

In [3]:
##################
# Número de licitaciones totales:
##################

print ('Licitaciones totales: %s' % tedDF.count())

Licitaciones totales: 479439

In [4]:
#data =spark.sql ("SELECT * FROM TedFormTable WHERE CODED_DATA_SECTION['NOTICE_DATA']['NO_DOC_OJS']='2022/S 056-145414'").take(10)
#data =spark.sql ("SELECT AWARD_CONTRACT FROM TedFormTable ORDER BY RAND()").limit(100).rdd.map(lambda row: row.asDict()).collect()
#data =spark.sql ("SELECT FORM_ID, COUNT(FORM_ID) FROM TedFormTable WHERE CODED_DATA_SECTION['NOTICE_DATA']['IA_URL_ETENDERING'] IS NOT NULL GROUP BY FORM_ID ORDER BY RAND() ").take(400)
#data =spark.sql ("SELECT FORM_ID, COUNT(FORM_ID) FROM TedFormTable WHERE CODED_DATA_SECTION['NOTICE_DATA']['VALUES'] IS NOT NULL GROUP BY FORM_ID ORDER BY RAND() ").take(400)
#data2 =spark.sql ("SELECT * FROM TedFormTable WHERE CODED_DATA_SECTION['NOTICE_DATA']['NO_DOC_OJS']='2022/S 084-228291'").rdd.map(lambda row: row.asDict()).collect()
#data2 =spark.sql ("SELECT AWARD_CONTRACT FROM TedFormTable WHERE SIZE (AWARD_CONTRACT)>0 ORDER BY RAND()").limit(100).rdd.map(lambda row: row.asDict()).collect()
#data2 =spark.sql ("SELECT * FROM TedFormTable  ORDER BY RAND()").limit(100).rdd.map(lambda row: row.asDict()).collect()
data2 =spark.sql ("SELECT * FROM TedFormTable WHERE Ted_doc_id='184248-2018' LIMIT 100").rdd.map(lambda row: row.asDict()).collect()
#data2 =spark.sql ("SELECT COUNT(EntidadAdjudicadora['Sitio web']) AS Num, EntidadAdjudicadora['Sitio web'] AS Web FROM TedFormTable GROUP BY EntidadAdjudicadora['Sitio web'] ORDER BY Num DESC").rdd.map(lambda row: row.asDict()).collect()
#data2 =spark.sql ("SELECT COUNT(CONTRACTING_BODY['ADDRESS_CONTRACTING_BODY']['OFFICIALNAME']) AS Num, CONTRACTING_BODY['ADDRESS_CONTRACTING_BODY']['OFFICIALNAME'] AS Web FROM TedFormTable GROUP BY CONTRACTING_BODY['ADDRESS_CONTRACTING_BODY']['OFFICIALNAME'] ORDER BY Num DESC").rdd.map(lambda row: row.asDict()).collect()

In [5]:
#data[0]['CODED_DATA_SECTION']
import json
data2

[{'CriterioDeAdjudicacion': {'Descripcion': {'value': '1',
    'text': 'Lowest price'}},
  'DatosGeneralesDelExpediente': {'Clasificacion CPV': [{'value': '77310000',
     'text': 'Planting and maintenance services of green areas'}],
   'Objeto del contrato': None,
   'Tipo de contrato': None,
   'Pliego de clausulas administrativas': None,
   'Valor estimado del contrato': None},
  'EntidadAdjudicadora': {'Actividad': '[{value=A, text=Housing and community amenities}]',
   'Ubicacion organica': '[]',
   'URL perfil de contratante': 'http://www.eis.gov.lv',
   'Tipo de administracion': '{value=8, text=Other}',
   'Sitio web': 'http://www.rnparvaldnieks.lv'},
  'LugarDeEjecucion': {'Pais': 'LV'},
  'PlazoDePresentacionDeOferta': {'Fecha': '20180531 11:00'},
  'PlazoDePresentacionDeSolicitudes': {'Fecha': '20180531 11:00'},
  'ProcesoDeLicitacion': {'Tramitacion': {'value': '1',
    'text': 'Open procedure'},
   'Descripcion': {'value': '1', 'text': 'Submission for all lots'}},
  'PublicacionesOficiales': {'Fecha de envio de anuncio al diario oficial': '20180427',
   'Fecha de Publicación': '20180425'},
  'Ted_doc_id': '184248-2018',
  'Ted_form_id': 'F02_2014',
  'Ted_reception_id': '18-187727-001',
  'Ted_year': '2018'}]

In [ ]:
lista[0].keys()

In [ ]:
with open('json_data.json') as json_file:
    data = json.load(lista)
    print(data)

In [ ]:
spark.sql ("SELECT FORM_ID, COUNT(FORM_ID) FROM TedFormTable WHERE CODED_DATA_SECTION['NOTICE_DATA']['IA_URL_ETENDERING'] IS NOT NULL GROUP BY FORM_ID ORDER BY RAND() ").collect()

In [ ]:
spark.sql ("SELECT FORM_ID, COUNT(FORM_ID) FROM TedFormTable WHERE CODED_DATA_SECTION['NOTICE_DATA']['IA_URL_ETENDERING'] IS NOT NULL GROUP BY FORM_ID ORDER BY RAND() ").take(400)

In [ ]:
data

In [ ]:
#data = tedDF.rdd.map(lambda row: row.asDict()).take(400)
data_F = spark.sql("SELECT * FROM TedFormTable WHERE FORM_ID='F02_2014' ORDER BY RAND()" ).rdd.map(lambda row: row.asDict()).take(100)

In [ ]:
import json
for data in data_F:
    data['OBJECT_CONTRACT_ORIGINAL'] = json.loads(data['OBJECT_CONTRACT_ORIGINAL'])
    #for data2 in data['OBJECT_CONTRACT_ORIGINAL']:
    #    data2['OBJECT_DESCR'] = json.loads (data2['OBJECT_DESCR'])

I

In [ ]:
import json
with open('F03.json', 'w') as fout:
    json.dump(data, fout)

In [ ]:
allkeys = {}

def returnType (valor):
    if type (data[clave1]) == str:
        return 'STRING'
    if type (data[clave1]) == dict:
        return 'DICT'
    if type (data[clave1]) == list:
        return 'LIST'
    
    return 'UNK'

for data in data_F[:1]:
    for clave1 in data.keys():
        typedata = returnType( data[clave1])
        allkeys[clave1] = typedata
        if typedata == 'DICT':
            allkeys[clave1] = []
            for clave2 in data[clave1]:
                typedata2 = returnType( data[clave1][clave2])
                allkeys[clave1].append( {clave2, typedata2})
                #if typedata2 == 'DICT':
                #        typedata3 = returnType( data[clave1][clave2])
                #        allkeys[clave1] = {clave2, 'DICT'}

In [ ]:
import yaml
print(yaml.dump(data_F[20], default_flow_style=False))

In [ ]:
data_F = spark.sql("SELECT * FROM TedFormTable" ).rdd.map(lambda row: row.asDict()).take(2000000000)

In [ ]:


import collections # requires Python 2.7 -- see note below if you're using an earlier version
def merge_dict(d1, d2):
    """
    Modifies d1 in-place to contain values from d2.  If any value
    in d1 is a dictionary (or dict-like), *and* the corresponding
    value in d2 is also a dictionary, then merge them in-place.
    """
    for k,v2 in d2.items():
        v1 = d1.get(k) # returns None if v1 has no value for this key
        if ( isinstance(v1, collections.Mapping) and 
             isinstance(v2, collections.Mapping) ):
            merge_dict(v1, v2)
        else:
            d1[k] = v2

In [ ]:
import json
import yaml

patata = {}

for data in data_F:
    merge_dict (patata, data)
    patata['OBJECT_CONTRACT_ORIGINAL'] = json.loads(data['OBJECT_CONTRACT_ORIGINAL'])

In [ ]:
len (data_F)

In [ ]:
#print(yaml.dump(patata, default_flow_style=False))
print (json.dumps(patata, indent=4))

import json
with open('camposTotales.json', 'w') as fout:
    json.dump(patata, fout)

In [ ]:
json.loads (patata['OBJECT_CONTRACT_ORIGINAL'][0]['OBJECT_DESCR'])

In [ ]:
tedDF.printSchema()

In [ ]:
allkeys['CODED_DATA_SECTION']

In [ ]:
data_F[20]['CODED_DATA_SECTION']

In [ ]:
data_F14 = spark.sql("SELECT * FROM TedFormTable WHERE FORM_ID='F14_2014'" ).rdd.map(lambda row: row.asDict()).take(40)

In [ ]:
data_F14[20].keys()

In [ ]:
data_F06 = spark.sql("SELECT * FROM TedFormTable WHERE FORM_ID='F06_2014'" ).rdd.map(lambda row: row.asDict()).take(40)

In [ ]:
data_F06[13].keys()

In [ ]:
data_F20 = spark.sql("SELECT * FROM TedFormTable WHERE FORM_ID='F20_2014'" ).rdd.map(lambda row: row.asDict()).take(40)

In [ ]:
data_F20[3]['DOC_ID']

In [ ]:
data_F20[3]['NO_DOC_OJS']

In [ ]:
##################
# Número de licitaciones traducidas el inglés:
##################

translateEng =  spark.sql("SELECT EN_TRANSLATION FROM TedFormTable WHERE EN_TRANSLATION = true" )
print ('Licitaciones traducidas al inglés: %s' % translateEng.count())

In [ ]:
##################
# Número de licitaciones por idioma:
##################
licByLang =  spark.sql("SELECT COUNT(ORIGINAL_LG) AS numlg ,ORIGINAL_LG FROM TedFormTable GROUP BY ORIGINAL_LG ORDER BY numlg DESC " )
print ('Licitaciones en cada idioma')
licByLang.show()

In [ ]:
##################
# Número de formularios:
##################
licByForm =  spark.sql("SELECT COUNT(FORM_ID) AS num, FORM_ID FROM TedFormTable GROUP BY FORM_ID ORDER BY num DESC" )

print ('Licitaciones por cada formulario')
licByForm.show()

In [ ]:
####################################################
#### Información sobre licitadores:
######################################################


def getContractingName (part):
    data = []
    for p in part:
        data.append (p['OFFICIALNAME'])
    
    return (data[0])
    
    
def getContractingDataExists (part):    
    return (len (part)>0)


spark.udf.register('getContractingNameUdf', getContractingName)
spark.udf.register('getContractingDataExistsUdf', getContractingDataExists)

In [ ]:
contName =  spark.sql("SELECT getContractingNameUdf(CONTRACTING_BODY) AS cn, ORIGINAL_LG FROM TedFormTable")
contName.registerTempTable("contractingname")

numContName = spark.sql ("SELECT count(cn) AS num,cn,ORIGINAL_LG  FROM contractingname WHERE ORIGINAL_LG='ES' GROUP BY cn,ORIGINAL_LG ORDER BY num DESC")

print ('Principales licitadores españoles:')
numContName.show(truncate=False)

print ('Principales licitadores:')
numContName = spark.sql ("SELECT count(cn) AS num,cn,ORIGINAL_LG  FROM contractingname GROUP BY cn,ORIGINAL_LG ORDER BY num DESC")
numContName.show(truncate=False)

In [ ]:
print ('Cobertura, existen licitadores:')
data = spark.sql ("SELECT getContractingDataExistsUdf (CONTRACTING_BODY), ORIGINAL_LG  FROM TedFormTable WHERE getContractingDataExistsUdf(CONTRACTING_BODY)=false")
data.show(truncate=False)

In [ ]:
spark.sql ("SELECT DATE_DISPATCH_NOTICE[0] FROM TedFormTable WHERE DATE_DISPATCH_NOTICE[0] = NULL").show()

In [ ]:
data[0]['CONTRACTING_BODY']

In [ ]:
from pyspark.sql.types import StringType
from langdetect import detect


def getPartData (part):
    data = []
    for p in part:
        data.append ([p['TITLE'], p['REFERENCE_NUMBER']] )
    
    return data
    
spark.udf.register('getLotDataUdf', getPartData)


def getIsLot ( lic ):
    data = []
    for part in lic:
        data.append (part['LOT_DIVISION'])
    return 'NONE' not in data
    
spark.udf.register('getIsLotUdf', getIsLot)

In [ ]:
tedDF.createOrReplaceTempView("TedFormTable")

In [ ]:
translateEng =  spark.sql("SELECT getLotDataUdf (LOT_TRANSLATION) AS engLot, getLotDataUdf (LOT_ORIGINAL) FROM TedFormTable WHERE EN_TRANSLATION = true" )

In [ ]:
translateEng.count()

In [ ]:
spark.sql("SELECT  ORIGINAL_LG, count(ORIGINAL_LG) AS NLIC FROM TedFormTable GROUP BY ORIGINAL_LG ORDER BY NLIC DESC"  ).show()

In [ ]:
spark.sql("SELECT  FORM_ID, count(FORM_ID) AS NFORM FROM TedFormTable GROUP BY FORM_ID ORDER BY NFORM DESC"  ).show()

In [ ]:
numLotes =  spark.sql("SELECT  URI_LIST,NO_DOC_OJS,getLotDataUdf (LOT_ORIGINAL) AS lotInfo FROM TedFormTable WHERE LOT_NUMBER>1" )

In [ ]:
numLotes =  spark.sql("SELECT  URI_LIST,NO_DOC_OJS,getLotDataUdf (PART_ORIGINAL) AS lotInfo FROM TedFormTable WHERE PART_NUMBER>1" ).rdd.map(lambda row: row.asDict()).take(40)

In [ ]:
numLotes

In [ ]:
data = spark.sql("SELECT  *, getIsLotUdf (PART_ORIGINAL) AS lotInfo FROM TedFormTable" ).filter("lotInfo=true").rdd.map(lambda row: row.asDict()).take(40)

''''
import json
x = data[0]['PART_ORIGINAL'][0]['OBJECT_DESCR']
prueba = json.loads('[{"NO_OPTIONS"="null","NO_EU_PROGR_RELATED"="null"}]')
#, NUTS={@CODE=FR815}, CPV_ADDITIONAL={CPV_CODE={@CODE=45330000}}, DIRECTIVE_2014_24_EU={AC_PRICE={AC_WEIGHTING=50}]")
#json.loads(x)
'''

In [ ]:
import yaml
res = yaml.safe_load(data[0]['PART_ORIGINAL'][0]['OBJECT_DESCR'].replace('@',''))

In [ ]:
data =  spark.sql("SELECT  * FROM TedFormTable WHERE  ORIGINAL_LG='ES' AND LOT_NUMBER>1"  ).rdd.map(lambda row: row.asDict()).take(4)

In [ ]:
#2021/S 241-636641
#636641-2021
data = spark.sql("SELECT  * FROM TedFormTable WHERE DOC_ID='636641-2021'").rdd.map(lambda row: row.asDict()).collect()

In [ ]:
#for obj in data[0]['LOT_ORIGINAL']:
#    print (obj['OBJECT_DESCR'])

type(data[0]['LOT_ORIGINAL'][0]['OBJECT_DESCR'])

In [ ]:
import json

print (json.dumps (data[3][ 'LOT_TRANSLATION'], sort_keys=True, indent=4))

In [ ]:
print (json.dumps (data[0][ 'LOT_ORIGINAL'], sort_keys=True, indent=4))

In [ ]:
print (json.dumps (data[0][ 'URI_LIST'], sort_keys=True, indent=4))